# REPO_NAME SUBMODULES_LIST PR_REVIEWERS
# REPO_NAME as OWNER/NAME
# SUBMODULES_LIST as comma separated list.
# PR_REVIEWERS as comma separated list of github usernames.

#git@github.com:warrenv/content-consumer.git fooRepo,barRepo,bazRepo login1,login2
#git@github.com:warrenv/content-consumer.git content
